---
import Layout from "../layouts/Layout.astro";

import ContactSocialBar from "../components/ContactSocialBar.astro";
import NavigationBar from "../components/NavigationBar.astro";
import Banner from "../components/Banner.astro";
import QuemSomos from "../components/QuemSomos.astro";
import Especialidades from "../components/Especialidades.astro";
import Equipe from "../components/Equipe.astro";
import GMaps from "../components/GMaps.astro";
import Contato from "../components/Contato.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="Justiça - Modelo de site para advogados"
    description="Contrate já um site para seu escritório de advocacia. Tenha um site como este ou um completamente personalizado. Entre em contato e peça já um orçamento!"
>
    <!-- HEADER -->
    <header class="flex flex-col-reverse md:flex-col">
        <ContactSocialBar />
        <NavigationBar />
    </header>

    <main>
        <Banner />
        <QuemSomos />
        <Especialidades />
        <Equipe />
        <Contato />
        <GMaps />
        <!-- FOOTER -->
    </main>

    <footer>
        <Footer />
    </footer>
</Layout>
