---
import "@fontsource/poppins";
import "@fontsource-variable/cinzel";
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="icon" type="image/png" href="./adv-dummy-icon.png" />

        <meta name="description" content={description} />

        <title>{title}</title>
    </head>
    <body class="font-poppins">
        <slot />
    </body>
</html>
